body{
    background-color:#e3c062;
  }
      h1, h2 {
        color: #9c6025
      }

      body {
        background-size: 60px 55px;
        background-image:
          linear-gradient(to right, rgb(95, 78, 59) 1.5px, transparent 1px),
          linear-gradient(to bottom, rgb(95, 78, 59) 1.5px, transparent 1px);
      }
  
      h1 {
        font-family: DejaVu Sans Mono, monospace;
      }
      
      h2 {
        font-family: cursive;
      }
      h1, h2, p { 
        text-align: center; 
        background-color: white; 
    }

    #cellOne{
        padding: none;
        transform: translate(15%,25%);
        margin: auto;
      }
      .panel{
          height:450px;
          width:450px;
      }

  
      